<div class="card status-card">
  <div class="d-flex card-header align-items-center">
    <div class="float-left">
      <h3>Status</h3>
    </div>
    <div class="float-left">
      <div class="badge badge-warning" *ngIf="config && intitialised">
        Processing
      </div>
      <div class="badge badge-secondary" *ngIf="!config && intitialised">
        No config
      </div>
      <div class="badge badge-primary" *ngIf="!config && !intitialised">
        Loading ...
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="intitialised">
    <div class="card bg-light mb-3" *ngIf="config">
      <div class="card-header">
        <h4>Current Cache State</h4>
      </div>
      <div class="card-body">
        <h5>Overall availability</h5>
        <div class="progress" *ngIf="availability">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [style]="availabilityProgBarStyle"
            [attr.aria-valuenow]="availability.available"
            aria-valuemin="0"
            [attr.aria-valuemax]="availability.expected"
          >
            {{
              (100 * availability.available) / availability.expected
                | number: '1.0-2'
            }}%
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card bg-light mb-3" *ngIf="config">
      <div class="card-header">
        <h4>Current configuration</h4>
      </div>
      <div class="card-body">
        <h5>Rules</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Criterion</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of config.configItems">
              <td>{{ item.criterion }}</td>
              <td>{{ item.value }}</td>
            </tr>
          </tbody>
        </table>

        <h5>Cron job settings</h5>
        <table class="table" *ngIf="config.cronJobActive">
          <thead>
            <tr>
              <th scope="col">Property</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Interval</td>
              <td>{{ config.cronJobInterval }} hour</td>
            </tr>
            <tr>
              <td>Last processed</td>
              <td>{{ config.lastProcessed | date: 'medium' }}</td>
            </tr>
            <tr>
              <td>Next scheduled</td>
              <td>
                {{
                  config.lastProcessed + config.cronJobInterval * 1000 * 60 * 60
                    | date: 'medium'
                }}
              </td>
            </tr>
          </tbody>
        </table>
        <span *ngIf="!config.cronJobActive" class="text-muted">inactive</span>
      </div>
    </div>

    <div class="card-body" *ngIf="!intitialised">
      <div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
        <div class="spinner-grow text-primary" role="status"></div>
        <div class="spinner-grow text-primary" role="status"></div>
      </div>
    </div>

    <div class="card-body" *ngIf="intitialised && !config">
      <div class="text-center text-muted">No config to process</div>
    </div>
  </div>

  <div class="card-footer">
    <a class="btn btn-primary float-right" role="button" href="configuration">
      Create new
    </a>
  </div>
</div>
